.container
	.row.col-lg-6
		= simple_form_for([:teacher,@schedule]) do |f|
			= f.error_notification
			.form-group
				.form-inputs
					=f.input :topic,:label=>"Topic",:placeholder=>"Schedule Topic",input_html:{:class=>'form-control'}
			.form-group
				.form-inputs
					=f.select :course_id,@courses.collect{|c| [c.name,c.id]},{},{:label=>"Course",:class=>'form-control'}
			.form-actions.profile-input
				= f.button :submit, "Submit",:class=>'btn btn-primary'
				= link_to "Cancel" ,teacher_courses_path,:class=>'btn btn-primary'