%section#mu-abtus-counter
  .container
    .row
      .col-md-12
        .mu-abtus-counter-area
          .row
            / Start counter item
            .col-lg-3.col-md-3.col-sm-3
              .mu-abtus-counter-single
                %span.fa.fa-book
                %h4.counter 568
                %p Subjects
            / End counter item
            / Start counter item
            .col-lg-3.col-md-3.col-sm-3
              .mu-abtus-counter-single
                %span.fa.fa-users
                %h4.counter 3500
                %p Students
            / End counter item
            / Start counter item
            .col-lg-3.col-md-3.col-sm-3
              .mu-abtus-counter-single
                %span.fa.fa-flask
                %h4.counter 65
                %p Modern Lab
            / End counter item
            / Start counter item
            .col-lg-3.col-md-3.col-sm-3
              .mu-abtus-counter-single.no-border
                %span.fa.fa-user-secret
                %h4.counter 250
                %p Teachers
