%section#mu-about-us
  .container
    .row
      .col-md-12
        .mu-about-us-area
          .row
            .col-lg-6.col-md-6
              .mu-about-us-left
                / Start Title
                .mu-title
                  %h2 About Us
                / End Title
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum pariatur fuga eveniet soluta aspernatur rem, nam voluptatibus voluptate voluptates sapiente, inventore. Voluptatem, maiores esse molestiae.
                %ul
                  %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  %li Saepe a minima quod iste libero rerum dicta!
                  %li Voluptas obcaecati, iste porro fugit soluta consequuntur. Veritatis?
                  %li Ipsam deserunt numquam ad error rem unde, omnis.
                  %li Repellat assumenda adipisci pariatur ipsam eos similique, explicabo.
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quaerat harum facilis excepturi et? Mollitia!
            .col-lg-6.col-md-6
              .mu-about-us-right
                %a#mu-abtus-video{:href => "https://www.youtube.com/embed/HN3pm9qYAUs", :target => "mutube-video"}
                  %img{:alt => "img", :src => "assets/img/about-us.jpg"}/

