%section#mu-features
  .container
    .row
      .col-lg-12.col-md-12
        .mu-features-area
          / Start Title
          .mu-title
            %h2 Our Features
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ipsa ea maxime mollitia, vitae voluptates, quod at, saepe reprehenderit totam aliquam architecto fugiat sunt animi!
          / End Title
          / Start features content
          .mu-features-content
            .row
              .col-lg-4.col-md-4.col-sm-6
                .mu-single-feature
                  %span.fa.fa-book
                  %h4 Professional Courses
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.
                  %a{:href => "#"} Read More
              .col-lg-4.col-md-4.col-sm-6
                .mu-single-feature
                  %span.fa.fa-users
                  %h4 Expert Teachers
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.
                  %a{:href => "#"} Read More
              .col-lg-4.col-md-4.col-sm-6
                .mu-single-feature
                  %span.fa.fa-laptop
                  %h4 Online Learning
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.
                  %a{:href => "#"} Read More
              .col-lg-4.col-md-4.col-sm-6
                .mu-single-feature
                  %span.fa.fa-microphone
                  %h4 Audio Lessons
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.
                  %a{:href => "#"} Read More
              .col-lg-4.col-md-4.col-sm-6
                .mu-single-feature
                  %span.fa.fa-film
                  %h4 Video Lessons
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.
                  %a{:href => "#"} Read More
              .col-lg-4.col-md-4.col-sm-6
                .mu-single-feature
                  %span.fa.fa-certificate
                  %h4 Professional Certificate
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.
                  %a{:href => "#"} Read More
