%section#mu-service
  .container
    .row
      .col-lg-12.col-md-12
        .mu-service-area
          / Start single service
          .mu-service-single
            %span.fa.fa-book
            %h3 Learn Online
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima officiis, deleniti dolorem exercitationem praesentium, est!
          / Start single service
          / Start single service
          .mu-service-single
            %span.fa.fa-users
            %h3 Expert Teachers
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima officiis, deleniti dolorem exercitationem praesentium, est!
          / Start single service
          / Start single service
          .mu-service-single
            %span.fa.fa-table
            %h3 Best Classrooms
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima officiis, deleniti dolorem exercitationem praesentium, est!
