/ Start Slider
%section#mu-slider
  / Start single slider item
  .mu-slider-single
    .mu-slider-img
      %figure
        %img{:alt => "img", :src => asset_path("1.jpg")}/
    .mu-slider-content
      %h4 Welcome To AIMEe
      %span
      %h2 We Will Help You To Learn
      %p Some more text will go here
      %a.mu-read-more-btn{:href => "#"} Read More
