.container
.row
	.col-lg-12
		%h2{:class=>'page-header'} VIDEOS
		.embed-responsive.embed-responsive-16by9{:align=>"center",:width=>"400px",:height=>"400px"}
			=video_tag("https://r7---sn-qxa7en7s.c.drive.google.com/videoplayback?requiressl=yes&id=1be5ae3bb2346c71&itag=18&source=webdrive&ttl=transient&app=texmex&ip=103.43.153.10&ipbits=0&expire=1476291958&sparams=requiressl,id,itag,source,ttl,ip,ipbits,expire&signature=41939D2BE2A285AD4BD2368BEBEAD8D5D02619C0.2CA394A76F7BEA5BA7AE52703F82329A9E19F161&key=ck2&mm=30&mn=sn-qxa7en7s&ms=nxu&mt=1476276843&mv=u&pl=24&sc=yes&cpn=et76SvuAwPgqnX_C&c=WEB&cver=1.20161011", :size => "400x400", :controls => true)