%h2{:class=>'page-header'} VIDEOS
.video{:align=>"center",:width=>"400px",:height=>"400px"}
	=video_tag("https://s3-us-west-2.amazonaws.com/stage-turnstr/sharks.mp4", :size => "400x400", :controls => true)