.container
.row
	.col-lg-12
		%h2{:class=>'page-header'} VIDEOS
		.embed-responsive.embed-responsive-16by9{:align=>"center",:width=>"400px",:height=>"400px"}
			=video_tag("https://s3-us-west-2.amazonaws.com/stage-turnstr/sharks.mp4", :size => "400x400", :controls => true)