

/*----OLD Delete---*/

.container {

    #background-color: black;
    padding: 0;
}
.body-wrapper{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    min-height: 450px;
}
.masthead{
    padding-top: 10px;
    background-color: #191919;
    height: 80px;
}


html{
  height:100%;
}
.content-wrapper{
  min-height: 450px;
}

.error_notification{
	color:red;
}
.error{
	color:red;
}


/* END Delete */


/*-------- Code Relation *---------*/

abbr[title="required"] {
  display: none;
}


.uppercase{
    text-transform:uppercase;
}
.uc-first { 
	text-transform: capitalize; 
}



.thumb{
	margin:30px;
	
}
.thumbnail{
	width:150x;
	height:150px;
}

/* default CSS */

.centered{
	text-align:center;
}

.m-t-10{
    margin-top:10px;
}



