html{
  height:100%;
}
.content-wrapper{
  min-height: 450px;
}

.error_notification{
	color:red;
}
.error{
	color:red;
}




.uppercase{
    text-transform:uppercase;
}
.uc-first { 
	text-transform: capitalize; 
}



.thumb{
	margin:30px;
	
}
.thumbnail{
	width:150x;
	height:150px;
}

/* default CSS */

.centered{
	text-align:center;
}

.m-t-10{
    margin-top:10px;
}



