/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */

body {
    #background-color: #3A3A3A;
}

.container {
    width: 970px;
    #background-color: black;
    padding: 0;
}
.body-wrapper{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    min-height: 450px;
}
.masthead{
    padding-top: 10px;
    background-color: #191919;
    height: 60px;
}

.footer-bottom {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #191919;
    padding-left: 10px;
    color:#fff;
}



.authform {
    margin: 0 auto;
    max-width: 420px;
    padding-top: 30px;
}
.authform .right {
    float: right !important;
}

.authform form, .authform fieldset {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    min-height: 20px;
    padding: 19px;
}

.btn, .submit, .authform .button, .button-xs {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #438bd7;
    border-color: #438bd7;
    color: #fff;
}
.uppercase{
    text-transform:uppercase;
}
/* default Margin */
.m-t-10{
    margin-top:10px;
}
