// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.messagePost {
	color: #666;
	font-family: Lato,sans-serif;
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	outline: medium none;
	width: 100%;
}
.messageBlock{
	height:200px;
}