// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*-------------------Sign up page------------------*/
.Sign-up-box
{background-color:#86d2cd;}
.signup-tab .active{background-color: #5ebe7d !important;}
.text-center{text-align:center;}
.signup{padding-top: 1em;
    FONT-SIZE: 49px;}
.padding30{padding:30px !important;}  
.active{outline:0 !important; background-color: #5ebe7d;
    color: #ffffff;}
  .two{width: 50%;
    font-size: 30px;font-weight: 400;border-radius: 6px 0 6px 0;}
.teacher{background-color:#fff;transition: all 0.3s ease-in-out 0.0s;
    -webkit-transition: all 0.3s ease-in-out 0.0s;
    -moz-transition: all 0.3s ease-in-out 0.0s;
    border-radius: 6px 0 6px 0;color:#5ebe7d;width: 50%;
    font-size: 30px;font-weight: 400;}
  .Parents{background-color:#fff;transition: all 0.3s ease-in-out 0.0s;
    -webkit-transition: all 0.3s ease-in-out 0.0s;
    -moz-transition: all 0.3s ease-in-out 0.0s;
    border-radius: 6px 0 6px 0;color:#5ebe7d;width: 50%;
    font-size: 30px;font-weight: 400;}
.teacher:hover{background-color:#5ebe7d;transition: all 0.3s ease-in-out 0.0s;
    -webkit-transition: all 0.3s ease-in-out 0.0s;
    -moz-transition: all 0.3s ease-in-out 0.0s;color:#fff;}
.Parents:hover{background-color:#5ebe7d;transition: all 0.3s ease-in-out 0.0s;
    -webkit-transition: all 0.3s ease-in-out 0.0s;
    -moz-transition: all 0.3s ease-in-out 0.0s;color:#fff;}
.padding15{padding:15px;    padding-top: 34px;}
.usernamee{    width: 50%;
    /* text-align: center; */
    padding: 15px;
    font-size: 20px; margin:0 auto;}
.sign-up{width: 22% !important;
    margin: 0 auto !important;
    font-size: 30px !important;
    padding: 8px !important;} 
  .padding16{padding:15px;   }      


