.footer-bottom
  .container
    %p.pull-left Copyright © Footer E-commerce Plugin 2014. All right reserved.
    .pull-right
      %ul.nav.nav-pills.payments
        %li
          %i.fa.fa-cc-visa
        %li
          %i.fa.fa-cc-visa
        %li
          %i.fa.fa-cc-visa
