%body
  %a.scrollToTop{:href => "#"}
    %i.fa.fa-angle-up
  / END SCROLL TOP BUTTON
  / Start header
  %header#mu-header
    .container
      .row
        .col-lg-12.col-md-12
          .mu-header-area
            .row
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .mu-header-top-left
                  .mu-top-email
                    %i.fa.fa-envelope
                    %span info@markups.io
                  .mu-top-phone
                    %i.fa.fa-phone
                    %span (568) 986 652
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .mu-header-top-right
                  %nav
                    %ul.mu-top-social-nav
                      %li
                        %a{:href => "#"}
                          %span.fa.fa-facebook
                      %li
                        %a{:href => "#"}
                          %span.fa.fa-twitter
                      %li
                        %a{:href => "#"}
                          %span.fa.fa-google-plus
                      %li
                        %a{:href => "#"}
                          %span.fa.fa-linkedin
                      %li
                        %a{:href => "#"}
                          %span.fa.fa-youtube
                            / End header

