%ul{class:"columns"}
  - if user_signed_in?
    %li{class:"dropdown"}
      %a{onmouseover:"myFunction()" ,class:"dropbtn differ" ,href:"#"} Profile
      .dropdown-content{id:"myDropdown"}
        = link_to "Profile", edit_parent_profile_path(current_user.id)
        = link_to "Sign out", destroy_user_session_path, :method => :delete
  - else
    %li= link_to "Sign in", new_user_session_path
    %li= link_to "Sign up", new_user_path
    